<head>
  <style>
    body {
      background-image: url(http://www.media-centrum.pl/images/samples/allegro/background.jpg);
      background-color: grey;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      line-height: 53px;
    }
    #prediv {
      width: 960px;
      margin: 0 auto;
    }
    #div1 {
      width: 960px;
      background-image: url(http://regiodom.pl/portal/sites/regiodom/files/images/regiodompl/5/meble_alvaro_salon.jpg);
      background-size: 100%;
      background-color: #303030;
      border-radius: 12px;
    }
    #menulink {
      border-radius: 12px 12px 0 0;
      background-color: rgba(000, 000, 000, 0.7);
      text-align: center;
      font-family: 'verdana';
      text-transform: uppercase;
      font-size: 30px;
    }
    #menulink a:hover {
      color: red;
    }
    #o-mnie {
      margin-top: 335px;
      margin-left: 744px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 12px 0 12px 0;
      background-color: #ffffff;
      font-size: 30px;
      font-style: italic;
      text-transform: uppercase;
    }
    #o-mnie a {
      color: #000000;
    }
    #o-mnie a:hover {
      color: red;
      font-size: 33px;
    }
    #div2 {
      color: #ffffff;
      border-radius: 12px;
      border:1px solid #ffffff;
      margin-top: 15px;
      padding: 15px;
      background-color: rgba(103, 102, 102, 0.7);
    }
    #titlecolumn {
      border-bottom: 1px solid #ffffff;
      padding-bottom: 15px;
      padding-top: 5px;
      text-align: center;
    }
    #column1 {
      float: left;
      width: 33%;
    }
    #column2 {
      float: left;
      width: 33%;
    }
    #column3 {
      float: left;
      width: 33%;
    }
    .logo-column {
      width: 53px;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .titlecolumn a {
      width: 33%;
      float: left;
      font-size: 25px;
      font-family: 'verdana';
    }
    .titlecolumn a:hover {
      color: red;
    }
    .iconscontact {
      float: left;
    }
    .infocontact {
      float: left;
      line-height: 53px;
      margin-left: 17px;
      font-size: 20px;
    }
    .infotransport {
      text-align: center;
      font-size: 25px;
    }
    #infobank a {
      color: #000000;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 12px;
      border: 1px solid #ffffff;
      line-height: 28px;
      padding: 15px;
    }
    #infobank a:hover {
      background-color: #ffffff;
    }
    #div3 {
      margin: auto;
      color: #000000;
      border-radius: 12px;
      border:1px solid #000000;
      margin-top: 15px;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.7);
    }
    #description1,
    #description2 {
      text-align: center;
      font-family: 'verdana';
    }
    #description2 img{
      padding-top: 20px;
    }
  </style>
</head>

<body>
  <div id="prediv">
    <div id="div1" style="height: 438px;">
      <div id="menulink">
        <a href="http://allegro.pl/listing/user/listing.php?us_id=24138214">zapraszamy na aukcje szpruch_pl</a>
      </div>
      <div id="o-mnie">
        <a href="http://allegro.pl/show_user.php?uid=24138214">
          o mnie
        </a>
      </div>
    </div>

    <div id="div2">
      <div id="titlecolumn">
        <div class="titlecolumn">
          <a href="http://allegro.pl/SendMailToUser.php?itemId=&userId=24138214">
            KONTAKT
          </a>
        </div>
        <div class="titlecolumn">
          <a href="http://allegro.pl/show_user.php?uid=24138214">
            KOMENTARZE
          </a>
        </div>
        <div class="titlecolumn">
          <a href="   ">TRANSPORT</a>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div id="columns">
        <div id="column1">
          <div class="iconscontact">
            <img src="http://allegro.zapodaj.net/images/6b23187c5823.png"alt="maial-icon" width="53px" height="53px"/>
          </div>
          <div class="infocontact">
            biuro@szpruch.pl
          </div>
          <div style="clear: both;"></div>

          <div class="iconscontact">
            <img src="http://allegro.zapodaj.net/images/1e6a54458934.png"alt="maial-icon" width="53px" height="53px"/>
          </div>
          <div class="infocontact">
            +48 502 66 22 33
          </div>
          <div style="clear: both;"></div>
        </div>

        <div id="column2"style="float: left;">
          <div id="logobank" class="logo-column">
          </div>
          <div id="infobank" class="infotransport">
            <a href="http://allegro.pl/listing/user/listing.php?us_id=24138214">
              Zapraszam na inne<br>moje aukcje!
            </a>
          </div>
        </div>

        <div id="column3"style="float: left;">
          <div id="logotransport" class="logo-column">
            <img src="http://allegro.zapodaj.net/images/8439364cc767.png" alt="logo-transport" width="53px" height="53px"/>
          </div>
          <div id="infotransport" class="infotransport">
            Koszt wysyłki - 17zł
          </div>
        </div>
      </div>
        <div style="clear: both;"></div>
      </div>

      <div id="div3">
        <div id="description1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar aliquam urna, et tempor nunc lobortis a. Proin quis semper orci, dapibus sollicitudin urna. Aliquam sit amet dolor tellus. Proin nec neque consectetur, imperdiet velit eget, malesuada dui. Proin dignissim ultricies nunc nec ornare. Aliquam ut ipsum eget turpis lacinia mattis nec et sem. Proin massa arcu, bibendum quis lectus et, finibus porta sem. Sed nec ligula nec est sodales luctus.
        </div>

        <div id="description2">
          <img src="http://www.bydgoskiemeble.pl/assets/product_collection/b-337-1371987880-5.jpg" alt="logo-transport" /><br>
          <img src="http://www.bydgoskiemeble.pl/assets/product_collection/b-337-1371987880-5.jpg" alt="logo-transport" /><br>
          <img src="http://www.bydgoskiemeble.pl/assets/product_collection/b-337-1371987880-5.jpg" alt="logo-transport" /><br>
        </div>
      </div>
    </div>
  </div>
</body>
